.box{
    height: 200px;
    width: 300px;
}

.responsive-box{
    height: 50vh;
    width: 50vw;
}
.padded-text{
    padding-left: 20px;
}
.custom-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.border-box{
    border-style: solid ;
    color: black;
    border: 2px;
}
.rounded-border{
    border-style: dotted;
    border-color: red;
    border-radius: 15px;
}
.margin-text{
    margin: 30px;
}
.custom-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:40px ;
    margin-left:40px ;
}
.inline-element{
    display: inline;

}
.block-element{
    display: block;
}
.inline-block-element{
    display: inline-block;
}
.hidden-element{
    display: none;
}
.visible-element{
    visibility: visible;
}
.invisible-element{
    visibility: hidden;
}
.transparent-box{
    background-color: rgb(10, 10, 129,0.5);
    
}